#IP address
[ADDRESSES]
#IP = 192.168.1.2
IP = auto
SMTPPort = 25

#Virustotal
[APIKEY]
Virustotal = no
APIKEY = PUT API KEY HERE

#AbuseIPDB
[IPDBAPI]
AbuseIPDB = no
IPDBAPI = PUT API KEY HERE

#LARGFEED
[LARGFEED]
Largfeed = no
Server = 127.0.0.1
Port = 1337

#Syslog
[SYSLOG]
Syslog = no
IP = 127.0.0.1
PORT = 514