#IP address
[ADDRESSES]
#IP = 192.168.1.2
IP = auto
SMTPPort = 25

#DynamicPorts
[PORTS]
# comma delimination
tcpports = 3389, 143, 110, 111, 135, 139, 1723, 3306, 445, 1433, 5900, 22, 23, 53
udpports = 161, 5600, 53

#Virustotal
[APIKEY]
Virustotal = no
APIKEY = PUT API KEY HERE

#AbuseIPDB
[IPDBAPI]
AbuseIPDB = no
IPDBAPI = PUT API KEY HERE

#LARGFEED
[LARGFEED]
Largfeed = no
Server = 127.0.0.1
Port = 1337

#Syslog
[SYSLOG]
Syslog = no
IP = 127.0.0.1
PORT = 514